<!DOCTYPE HTML>

<html>
	<head>
		<title>新闻爬虫查询网站</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a>新闻爬虫查询网站</a></h1>
						<nav>
							<a href="#menu" style="color: black;">菜单</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2菜单</h2>
							<ul class="links">
								<li><a href="index">主页</a></li>
								<li><a href="register">注册</a></li>
								<li><a href="login">登录</a></li>
								<!-- <li><a href="show">查询</a></li>
								<li><a href="chart">图表</a></li>
                                <li><a href="administrate">管理</a></li> -->
							</ul>
						</div>
					</nav>

				<!-- Banner -->
					<section id="banner">
						<div class="inner" style="width: 1000px;height:400px;">
							<!-- <div class="logo"><span class="icon fa-gem"></span></div> -->
							<h2 style="color: black;">欢迎浏览新闻爬虫查询网站</h2>
							<p style="color: black;"></p>
						</div>
					</section>

				

				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<ul class="copyright">
								<li>&copy; All rights reserved.</li><li>Design: syz</li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.scrollex.min.js"></script>
			<script src="js/browser.min.js"></script>
			<script src="js/breakpoints.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>

	</body>
</html>